<div class="text-center mt-3">
  <a href="https://www.buymeacoffee.com/mostafa.farzan" target="_blank">
    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 40px !important; width: 160px !important;">
  </a>
</div>
<div class="text-center mt-3">
  <a class="github-button" href="https://github.com/m2-farzan/anki-cook" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star m2-farzan/anki-cook on GitHub">Star on github</a>
</div>
