{% set footnote_text %}
{% endset %}

{% set site_title %}
Anki Cook
{% endset %}

{% set site_short_title %}
anki-cook
{% endset %}

{% set site_description %}
Generate anki cards about any topic!
{% endset %}

{% set page_title %}
anki-cook
{% endset %}

{% set site_url %}
http://localhost
{% endset %}

{% set ga_script|safe %}
{% endset %}
