{% import 'constants.jinja' as C %}

{% extends 'layout.html' %}

{% block title %}
{{C.page_title}} | home
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">{{C.site_title}}</h1>
      <div class="row gap-3 px-3 pt-4">
        <div class="wordlist">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Native</th>
                <th scope="col">Target</th>
                <th scope="col">Extra</th>
              </tr>
            </thead>
            <tbody>
              {% for word in wordlist.words %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{word.meaning}}</td>
                <td>{{word.original}}</td>
                <td>{{word.extra}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- checkbox for native/target tts -->
        <div class="col-md-12 gap-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="target-tts" checked>
            <label class="form-check-label" for="target-tts">Target Voice</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="native-tts">
            <label class="form-check-label" for="native-tts">Native Voice</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="large-extra">
            <label class="form-check-label" for="large-extra">Make target smaller than extra</label>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-primary" id="download">Finalize</button>
          <button class="btn btn-primary disabled" id="download-loading"><span id="progress">Generating voices<div class="spinner-border spinner-border-sm ms-2" role="status"></div></button>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-secondary" id="back">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_script %}

<script>
  console.debug("Loaded preview.js");
  $("#download-loading").hide();
  $("#download").on("click", function() {
    $("#download").hide();
    $("#download-loading").show();
    var payload = {
      topic: "{{d.topic}}",
      native: "{{d.native}}",
      target: "{{d.target}}",
      extra: "{{d.extra}}",
      count: "{{d.count}}",
      target_tts: $("#target-tts").is(":checked"),
      native_tts: $("#native-tts").is(":checked"),
      boost_extra: $("#large-extra").is(":checked")
    };
    function poll() {
      console.debug("Polling...");
      $.jpost("/api/generate/full", payload)
      .done(function(data, status, xhr) {
        if (xhr.status === 200) {
          window.location.href = xhr.getResponseHeader("Location");
        } else if (xhr.status === 202) {
          if (data.message) {
            $("#progress").text(data.message);
          } else {
            $("#progress").text("...");
          }
          setTimeout(poll, 2000);
        } else {
          alert("An error occurred. Please try again.");
          $("#preview").show();
          $("#preview-loading").hide();
          console.error(data);
        }
      }).fail(function(xhr) {
        if (xhr.status === 422) {
          alert(xhr.responseText);
        } else {
          alert("An error occurred. Please try again.");
        }
        $("#preview").show();
        $("#preview-loading").hide();
        console.error(xhr);
      });
    }
    poll();
  });
  $("#back").on("click", function() {
    window.location.href = "/?topic={{d.topic}}&native={{d.native}}&target={{d.target}}&extra={{d.extra}}&count={{d.count}}";
  });
</script>

{% endblock %}
